<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RabiRibi_Editor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <RabiRibi_Editor.Settings1>
      <setting name="lastCollisionPath" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="lastMapPath" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="lastMetatilePath" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="lastTilePath" serializeAs="String">
        <value>
        </value>
      </setting>
    </RabiRibi_Editor.Settings1>
  </userSettings>
</configuration>